<h1 class="demo-title">
  </h1>
  <div class="pricing-table">
    <div class="ptable-item">
      <div class="ptable-single">
        <div class="ptable-header">
          <div class="ptable-title">
            <h2>Silver</h2>
          </div>
          <div class="ptable-price">
            <h2><small>$</small>1<span>/ Day</span></h2>
          </div>
        </div>
        <div class="ptable-body">
          <div class="ptable-description">
            <ul>
              <li>Display at the bottom </li>
              <li>Small-Size Post</li>
              <li>Well-commented Code</li>
              <li>Easy to Use</li>
            </ul>
          </div>
        </div>
        <div class="ptable-footer">
          <div class="ptable-action">
            <a href="">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="ptable-item featured-item">
      <div class="ptable-single">
        <div class="ptable-header">
          <div class="ptable-status">
            <span>Hot</span>
          </div>
          <div class="ptable-title">
            <h2>Gold</h2>
          </div>
          <div class="ptable-price">
            <h2><small>$</small>10<span>/ Day</span></h2>
          </div>
        </div>
        <div class="ptable-body">
          <div class="ptable-description">
            <ul>
              <li>Pure HTML & CSS</li>
              <li>Responsive Design</li>
              <li>Well-commented Code</li>
              <li>Easy to Use</li>
            </ul>
          </div>
        </div>
        <div class="ptable-footer">
          <div class="ptable-action">
            <a href="">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="ptable-item">
      <div class="ptable-single">
        <div class="ptable-header">
          <div class="ptable-title">
            <h2>Platinum</h2>
          </div>
          <div class="ptable-price">
            <h2><small>$</small>20<span>/ Day</span></h2>
          </div>
        </div>
        <div class="ptable-body">
          <div class="ptable-description">
            <ul>
              <li>Pure HTML & CSS</li>
              <li>Responsive Design</li>
              <li>Well-commented Code</li>
              <li>Easy to Use</li>
            </ul>
          </div>
        </div>
        <div class="ptable-footer">
          <div class="ptable-action">
            <a href="">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
    <app-pricing-table></app-pricing-table>

  </div>